<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div id="electRealViz"></div>
<div id="electPredViz"></div>

<!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<script>

  // Set the dimensions and margins of the graph
  var marginReal     = {top: 10, right: 100, bottom: 30, left: 60};
  var plotWidthReal  = 410 - marginReal.left - marginReal.right;
  var plotHeightReal = 350 - marginReal.top  - marginReal.bottom;

  // Append the SVG object to the body of the page
  var svgReal = d3.select("#electRealViz")
    .append("svg")
      .attr("width",  plotWidthReal  + marginReal.left + marginReal.right)
      .attr("height", plotHeightReal + marginReal.top  + marginReal.bottom)
    .append("g")
      .attr("transform",
            "translate(" + marginReal.left + ", " + marginReal.top + ")")

  // Set the dimensions and margins of the graph
  var marginPred     = {top: 10, right: 100, bottom: 30, left: 460};
  var plotWidthPred  = 410 - marginPred.left - marginPred.right;
  var plotHeightPred = 350 - marginPred.top  - marginPred.bottom;

  // Append the SVG object to the body of the page
  var svgPred = d3.select("#electPredViz")
    .append("svg")
      .attr("width",  plotWidthPred  + marginPred.left + marginPred.right)
      .attr("height", plotHeightPred + marginPred.top  + marginPred.bottom)
    .append("g")
      .attr("transform",
            "translate(" + marginPred.left + ", " + marginPred.top + ")")

  // // Append the SVG object to the body of the page
  // var svgPred = d3.select("#electPredViz")
  //   .append("svg")
  //     .attr("width",  width  + margin.left + margin.right)
  //     .attr("height", height + margin.top  + margin.bottom)
  //   .append("g")
  //     .attr("transform",
  //           "translate(" + margin.left + ", " + margin.top + ")")

  // d3.json("http://localhost:5000/electricity_data", function(json){
  // d3.json("http://localhost:5000/gas_data", function(data){

  // //Read the data
  // d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_connectedscatter.csv", function(data) {
  //
  //     // List of groups (here I have one group per column)
  //     var allGroup = ["valueA", "valueB", "valueC"]
  //
  //     // Reformat the data: we need an array of arrays of {x, y} tuples
  //     var dataReady = allGroup.map( function(grpName) { // .map allows to do something for each element of the list
  //       return {
  //         name: grpName,
  //         values: data.map(function(d) {
  //           return {time: d.time, value: +d[grpName]};
  //         })
  //       };
  //     });
  //
  //     console.log(dataReady);
  //     // debugger;
  //   });

  var inter = setInterval(function() {
                updateData()
              }, 1000);

  function updateData() {

    d3.queue()
      // .defer(d3.csv, "http://localhost:5000/electricity_forecast")
      .defer(d3.json, "http://localhost:5000/electricity_forecast")
      .defer(d3.json, "http://localhost:5000/electricity_data")
      // .defer(d3.json, "http://localhost:5000/gas_data")
      .await(plotData);

    // d3.json("http://localhost:5000/electricity_forecast", function (electricity_data) {
    function plotData(error, electricityForecast, electricityData) {

      'use strict';

      // if (error) { console.log(error); }

      // var dataGroups = ["Electricity Real"];
      // var dataGroups = ["Electricity Prediction"];
      var dataGroupsReal = ["Real"];
      var dataGroupsPred = ["Prediction"];

      // Truncate the data sets
      electricityData = electricityData.slice(electricityData.length - 40, electricityData.length);
      // gas = gas.slice(0,300);

      // console.log(electricityForecast);
      // console.log(electricityData);

      var elecRealArray = [];
      var elecPredArray = [];

      // Loop through and get the real electricity data
      for (const [key, value] of Object.entries(electricityForecast)) {
        elecRealArray.push({
          date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(value.Timestamp),
          value: value["Building 74 - kWh Total Electricity (kWh)"]
        })
      }

      // Loop through and get the electricity forecast data
      for (const [key, value] of Object.entries(electricityForecast)) {
        elecPredArray.push({
          date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(value.Timestamp),
          value: value.Prediction
          // value: value.ElectricityConsumptionForecast
        })
      }

      // // Parse the data from the JSON inputs
      // var dataArrayPrediction = [
      // {
      //   name:    "Electricity Real",
      //   entries: electricityData.map( function (d) {
      //     // debugger;
      //     return {
      //       date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(d[0]),
      //       value: d[1]
      //       }})
      // },
      // ];

      // Parse the data from the JSON inputs
      var dataArrayReal = [
        {
          name:    "Real",
          entries: elecRealArray
        }
      ];

      // Parse the data from the JSON inputs
      var dataArrayPred = [
        {
          name:    "Prediction",
          entries: elecPredArray
        }
      ];

      var totDataArray = dataArrayReal.concat(dataArrayPred);

      // console.log(dataArray);

      var domainX = d3.extent(totDataArray.map(values => {return values.entries.map(entry => entry.date);}).reduce((prev, curr) => prev.concat(curr)));
      var domainY = d3.extent(totDataArray.map(values => {return values.entries.map(entry => entry.value);}).reduce((prev, curr) => prev.concat(curr)));

      // console.log(domainX, domainY);

      // dataArray[0].entries = dataArray[0].slice(0, 100);
      // dataArray[1].entries = dataArray[1].slice(0, 100);

      // Clear the previous plot
      d3.selectAll("svg > g > *").remove();

      // Color scaling: One color for each group
      var myColor = d3.scaleOrdinal()
        .domain(totDataArray)
        .range(d3.schemeSet2);

      // var data = {date, value};

      // Add X axis --> It is a date format
      var xReal = d3.scaleTime()
        .domain(domainX)
        // .domain(d3.extent(dataArray[0].entries, function(d) { return d.date; }))
        .range([ 0, plotWidthReal ]);
      svgReal.append("g")
        .attr("transform", "translate(0, " + plotHeightReal + ")")
        .call(d3.axisBottom(xReal));


      // Add Y axis
      var yReal = d3.scaleLinear()
        .domain(domainY)
        // .domain(d3.extent(dataArray[0].entries, function(d) { return d.value; }))
        // .domain( [8000, 9200] )
        .range( [plotHeightReal, 0] );
      svgReal.append("g")
        .call(d3.axisLeft(yReal));


      // Add the lines
      var lineReal = d3.line()
        .x(function(d) { return xReal(+d.date) })
        .y(function(d) { return yReal(+d.value)});

      // Create the line elements
      svgReal.selectAll("myLines")
        .data(dataArrayReal)
        .enter()
        .append("path")
          .attr("d", function(d) { return lineReal(d.entries) })
          .attr("stroke", function(d){ return myColor(d.name) })
          .attr("data-legend", function(d){ return d.name })
          .style("stroke-width", 4)
          .style("fill", "none");

      // Add one dot in the legend for each name.
      svgReal.selectAll("myDots")
        .data(dataGroupsReal)
        .enter()
        .append("circle")
          .attr("cx", 15)
          // 100 is where the first dot appears. 25 is the distance between dots
          .attr("cy", function(d, i) { return 10 + i*25 })
          .attr("r", 5)
          // .attr("stroke", "white")
          .style("fill", function(d){ return myColor(d) })

      // Add a legend at the end of each line
      svgReal.selectAll("myLabels")
        .data(dataGroupsReal)
        .enter()
          // .append('g')
        .append("text")
          .attr("x", 25)
          // 100 is where the first dot appears. 25 is the distance between dots
          .attr("y", function(d, i) { return 15 + i*25 })
          .style("fill", function(d) { return myColor(d) })
          .text(function(d) { return d })
          .attr("text-anchor", "left")
          .style("alignmnet-baseline", "middle")

      // var data = {date, value};

      // Add X axis --> It is a date format
      var xPred = d3.scaleTime()
        .domain(domainX)
        // .domain(d3.extent(dataArray[0].entries, function(d) { return d.date; }))
        .range([ 0, plotWidthPred ]);
      svgPred.append("g")
        .attr("transform", "translate(0, " + plotHeightPred + ")")
        .call(d3.axisBottom(xPred));


      // Add Y axis
      var yPred = d3.scaleLinear()
        .domain(domainY)
        // .domain(d3.extent(dataArray[0].entries, function(d) { return d.value; }))
        // .domain( [8000, 9200] )
        .range( [plotHeightPred, 0] )
      svgPred.append("g")
        .call(d3.axisLeft(yPred));


      // Add the lines
      var linePred = d3.line()
        .x(function(d) { return xPred(+d.date) })
        .y(function(d) { return yPred(+d.value)});

      // Create the line elements
      svgPred.selectAll("myLines")
        .data(dataArrayPred)
        .enter()
        .append("path")
          .attr("d", function(d) { return linePred(d.entries) })
          .attr("stroke", function(d){ return myColor(d.name) })
          .attr("data-legend", function(d){ return d.name })
          .style("stroke-width", 4)
          .style("fill", "none");

      // Add one dot in the legend for each name.
      svgPred.selectAll("myDots")
        .data(dataGroupsPred)
        .enter()
        .append("circle")
          .attr("cx", 15)
          // 100 is where the first dot appears. 25 is the distance between dots
          .attr("cy", function(d, i) { return 10 + i*25 })
          .attr("r", 5)
          // .attr("stroke", "white")
          .style("fill", function(d){ return myColor(d) })

      // Add a legend at the end of each line
      svgPred.selectAll("myLabels")
        .data(dataGroupsPred)
        .enter()
          // .append('g')
        .append("text")
          .attr("x", 25)
          // 100 is where the first dot appears. 25 is the distance between dots
          .attr("y", function(d, i) { return 15 + i*25 })
          .style("fill", function(d) { return myColor(d) })
          .text(function(d) { return d })
          .attr("text-anchor", "left")
          .style("alignmnet-baseline", "middle")
    }
  }

</script>
