<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<script>

  // Set the dimensions and margins of the graph
  var margin = {top: 10, right: 100, bottom: 30, left: 60},
    width  = 810 - margin.left - margin.right;
    height = 750 - margin.top  - margin.bottom;

  // Append the SVG object to the body of the page
  var svg = d3.select("#my_dataviz")
    .append("svg")
      .attr("width",  width  + margin.left + margin.right)
      .attr("height", height + margin.top  + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + ", " + margin.top + ")")

  // d3.json("http://localhost:5000/electricity_data", function(json){
  // d3.json("http://localhost:5000/gas_data", function(data){

  // //Read the data
  // d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_connectedscatter.csv", function(data) {
  //
  //     // List of groups (here I have one group per column)
  //     var allGroup = ["valueA", "valueB", "valueC"]
  //
  //     // Reformat the data: we need an array of arrays of {x, y} tuples
  //     var dataReady = allGroup.map( function(grpName) { // .map allows to do something for each element of the list
  //       return {
  //         name: grpName,
  //         values: data.map(function(d) {
  //           return {time: d.time, value: +d[grpName]};
  //         })
  //       };
  //     });
  //
  //     console.log(dataReady);
  //     // debugger;
  //   });

  var inter = setInterval(function() {
                updateData()
              }, 1000);

  function updateData() {

    d3.queue()
      // .defer(d3.csv, "http://localhost:5000/electricity_forecast")
      .defer(d3.json, "http://localhost:5000/electricity_forecast")
      .defer(d3.json, "http://localhost:5000/electricity_data")
      // .defer(d3.json, "http://localhost:5000/gas_data")
      .await(plotData);

    // d3.json("http://localhost:5000/electricity_forecast", function (electricity_data) {
    function plotData(error, electricityForecast, electricityData) {

      'use strict';

      // if (error) { console.log(error); }

      // var dataGroups = ["Electricity Real"];
      // var dataGroups = ["Electricity Prediction"];
      var dataGroups = ["Real", "Prediction"];

      // Truncate the data sets
      electricityData = electricityData.slice(electricityData.length - 40, electricityData.length);
      // gas = gas.slice(0,300);

      // console.log(electricityForecast);
      // console.log(electricityData);

      var elecPredArray = [];
      var elecRealArray = [];

      // Loop through and get the electricity forecast data
      for (const [key, value] of Object.entries(electricityForecast)) {
        elecPredArray.push({
          date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(value.Timestamp),
          value: value.Prediction
          // value: value.ElectricityConsumptionForecast
        })
      }

      // Loop through and get the real electricity data
      for (const [key, value] of Object.entries(electricityForecast)) {
        elecRealArray.push({
          date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(value.Timestamp),
          value: value["Building 74 - kWh Total Electricity (kWh)"]
        })
      }

      // Parse the data from the JSON inputs
      var dataArray = [
        // {
        //   name:    "Electricity Real",
        //   entries: electricityData.map( function (d) {
        //     // debugger;
        //     return {
        //       date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(d[0]),
        //       value: d[1]
        //       }})
        // },
        {
          name:    "Real",
          entries: elecRealArray
        },
        {
          name:    "Prediction",
          entries: elecPredArray
        }
      ];

      // console.log(dataArray);

      var domainX = d3.extent(dataArray.map(values => {return values.entries.map(entry => entry.date);}).reduce((prev, curr) => prev.concat(curr)));
      var domainY = d3.extent(dataArray.map(values => {return values.entries.map(entry => entry.value);}).reduce((prev, curr) => prev.concat(curr)));

      // console.log(domainX, domainY);

      // dataArray[0].entries = dataArray[0].slice(0, 100);
      // dataArray[1].entries = dataArray[1].slice(0, 100);

      // Clear the previous plot
      d3.selectAll("svg > g > *").remove();

      // Color scaling: One color for each group
      var myColor = d3.scaleOrdinal()
        .domain(dataGroups)
        .range(d3.schemeSet2);

      // var data = {date, value};

      // Add X axis --> It is a date format
      var x = d3.scaleTime()
        .domain(domainX)
        // .domain(d3.extent(dataArray[0].entries, function(d) { return d.date; }))
        .range([ 0, width ]);
      svg.append("g")
        .attr("transform", "translate(0, " + height + ")")
        .call(d3.axisBottom(x));


      // Add Y axis
      var y = d3.scaleLinear()
        .domain(domainY)
        // .domain(d3.extent(dataArray[0].entries, function(d) { return d.value; }))
        // .domain( [8000, 9200] )
        .range( [height, 0] )
      svg.append("g")
        .call(d3.axisLeft(y));


      // Add the lines
      var line = d3.line()
        .x(function(d) { return x(+d.date) })
        .y(function(d) { return y(+d.value)});

      // Create the line elements
      svg.selectAll("myLines")
        .data(dataArray)
        .enter()
        .append("path")
          .attr("d", function(d) { return line(d.entries) })
          .attr("stroke", function(d){ return myColor(d.name) })
          .attr("data-legend", function(d){ return d.name })
          .style("stroke-width", 4)
          .style("fill", "none");

      // Add one dot in the legend for each name.
      svg.selectAll("myDots")
        .data(dataGroups)
        .enter()
        .append("circle")
          .attr("cx", 15)
          // 100 is where the first dot appears. 25 is the distance between dots
          .attr("cy", function(d, i) { return 10 + i*25 })
          .attr("r", 5)
          // .attr("stroke", "white")
          .style("fill", function(d){ return myColor(d) })

      // Add a legend at the end of each line
      svg.selectAll("myLabels")
        .data(dataGroups)
        .enter()
          // .append('g')
        .append("text")
          .attr("x", 25)
          // 100 is where the first dot appears. 25 is the distance between dots
          .attr("y", function(d, i) { return 15 + i*25 })
          .style("fill", function(d) { return myColor(d) })
          .text(function(d) { return d })
          .attr("text-anchor", "left")
          .style("alignmnet-baseline", "middle")
    }
  }

  // function updateData() {
  //
  //   d3.queue()
  //     // .defer(d3.csv, "http://localhost:5000/electricity_forecast")
  //     .defer(d3.json, "http://localhost:5000/electricity_forecast")
  //     .defer(d3.json, "http://localhost:5000/electricity_data")
  //     // .defer(d3.json, "http://localhost:5000/gas_data")
  //     .await(plotUpdatedData);
  //
  //   // Select the section we want to apply our changes to
  //   var svg = d3.select("#my_dataviz").transition();
  //
  //   // d3.json("http://localhost:5000/electricity_forecast", function (electricity_data) {
  //   function plotUpdatedData(error, electricityForecast, electricityData) {
  //
  //     var elecPredArray = [];
  //     var elecRealArray = [];
  //
  //     // Loop through and get the electricity forecast data
  //     for (const [key, value] of Object.entries(electricityForecast)) {
  //       elecPredArray.push({
  //         date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(value.Timestamp),
  //         value: value.ElectricityConsumptionForecast
  //       })
  //     }
  //
  //     // Loop through and get the real electricity data
  //     for (const [key, value] of Object.entries(electricityForecast)) {
  //       elecRealArray.push({
  //         date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(value.Timestamp),
  //         value: value["Building 74 - kWh Total Electricity (kWh)"]
  //       })
  //     }
  //
  //     // Parse the data from the JSON inputs
  //     var dataArray = [
  //       // {
  //       //   name:    "Electricity Real",
  //       //   entries: electricityData.map( function (d) {
  //       //     // debugger;
  //       //     return {
  //       //       date:  d3.timeParse("%Y-%m-%d %H:%M:%S")(d[0]),
  //       //       value: d[1]
  //       //       }})
  //       // },
  //       {
  //         name:    "Real",
  //         entries: elecRealArray
  //       },
  //       {
  //         name:    "Prediction",
  //         entries: elecPredArray
  //       }
  //     ];
  //
  //     console.log(dataArray);
  //
  //     var domainX = d3.extent(dataArray.map(values => {return values.entries.map(entry => entry.date);}).reduce((prev, curr) => prev.concat(curr)));
  //     var domainY = d3.extent(dataArray.map(values => {return values.entries.map(entry => entry.value);}).reduce((prev, curr) => prev.concat(curr)));
  //
  //     // Add X axis --> It is a date format
  //     var x = d3.scaleTime()
  //       .domain(domainX)
  //       // .domain(d3.extent(dataArray[0].entries, function(d) { return d.date; }))
  //       .range([ 0, width ]);
  //     // svg.append("g")
  //     //   .attr("transform", "translate(0, " + height + ")")
  //     //   .call(d3.axisBottom(x));
  //
  //
  //     // Add Y axis
  //     var y = d3.scaleLinear()
  //       .domain(domainY)
  //       // .domain(d3.extent(dataArray[0].entries, function(d) { return d.value; }))
  //       // .domain( [8000, 9200] )
  //       .range( [height, 0] );
  //     // svg.append("g")
  //     //   .call(d3.axisLeft(y));
  //
  //     // // Scale the range of the data again
  //     // x.domain(domainX);
  //     // y.domain(domainY);
  //
  //     // Make the changes to the lines
  //     svg.selectAll("myLines")
  //       .duration(750)
  //       .data(dataArray);
  //       // .attr("d", valueline(data));
  //     // svg.selectA(".x.axis")
  //     //   .duration(750)
  //     //   .call(xAxis);
  //     // svg.select(".y.axis")
  //     //   .duration(750)
  //     //   .call(yAxis);
  //   }
  // }

</script>
